### Import

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows', None);

In [3]:
%store -r happiness_2023
%store -r country_ids
%store -r country_region

%store -r og_happiness_all_years
%store -r og_happiness_world_life_expectancy
%store -r og_happiness_taiwan_life_expectancy

In [4]:
# Create duplicates

data_2023 = happiness_2023
country_ids = country_ids
country_region = country_region

data = og_happiness_all_years
world_life_expectancy = og_happiness_world_life_expectancy
taiwan_life_expectancy = og_happiness_taiwan_life_expectancy

### All Years Prep

In [5]:
data.head(10)

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195
1,Afghanistan,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092
2,Afghanistan,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324
3,Afghanistan,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175
4,Afghanistan,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919
5,Afghanistan,2013,3.572100,7.680333,0.483552,52.000000,0.577955,0.062666,0.823204,0.547417,0.273328
6,Afghanistan,2014,3.130896,7.670638,0.525568,52.299999,0.508514,0.105755,0.871242,0.491641,0.374861
7,Afghanistan,2015,3.982855,7.653833,0.528597,52.599998,0.388928,0.081652,0.880638,0.491410,0.339276
8,Afghanistan,2016,4.220169,7.650370,0.559072,52.924999,0.522566,0.043916,0.793246,0.501409,0.348332
9,Afghanistan,2017,2.661718,7.647830,0.490880,53.250000,0.427011,-0.119410,0.954393,0.435270,0.371326

In [6]:
# Drop unwanted columns

data = data.drop(['Positive affect', 'Negative affect'], axis=1)

In [7]:
# Rename columns

data = data.rename(columns = {'Country name':'country_name',
                              'Life Ladder':'happiness_score',
                              'Log GDP per capita':'log_gdp_per_capita',
                              'Social support':'social_support',
                              'Healthy life expectancy at birth':'life_expectancy',
                              'Freedom to make life choices':'freedom',
                              'Generosity':'generosity',
                              'Perceptions of corruption':'perception_of_corruption'})
list(data.columns)

['country_name',
 'year',
 'happiness_score',
 'log_gdp_per_capita',
 'social_support',
 'life_expectancy',
 'freedom',
 'generosity',
 'perception_of_corruption']

In [8]:
data.duplicated().any()

False

In [9]:
## Use country_region to add regions to data
# Create copy to work on

test_data = data

In [10]:
country_region.head(20)

           country_name               region
0           Afghanistan       Asia & Pacific
1         Aland Islands               Europe
2               Albania               Europe
3               Algeria          Arab States
4        American Samoa       Asia & Pacific
5               Andorra               Europe
6                Angola               Africa
7              Anguilla  South/Latin America
8            Antarctica       Asia & Pacific
9   Antigua and Barbuda  South/Latin America
10            Argentina  South/Latin America
11              Armenia               Europe
12                Aruba  South/Latin America
13            Australia       Asia & Pacific
14              Austria               Europe
15           Azerbaijan               Europe
16              Bahamas  South/Latin America
17              Bahrain          Arab States
18           Bangladesh       Asia & Pacific
19             Barbados  South/Latin America

In [11]:
# Merge with country_region to add region

test_data = pd.merge(test_data, country_region, how = 'left', on = 'country_name')
data_columns = ['country_name',
                'region',
                'year',
                'happiness_score',
                'log_gdp_per_capita',
                'social_support',
                'life_expectancy',
                'freedom',
                'generosity',
                'perception_of_corruption']
test_data = test_data[data_columns]
test_data.head(10)

,country_name,region,year,happiness_score,log_gdp_per_capita,social_support,life_expectancy,freedom,generosity,perception_of_corruption
0,Afghanistan,Asia & Pacific,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686
1,Afghanistan,Asia & Pacific,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035
2,Afghanistan,Asia & Pacific,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766
3,Afghanistan,Asia & Pacific,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109
4,Afghanistan,Asia & Pacific,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620
5,Afghanistan,Asia & Pacific,2013,3.572100,7.680333,0.483552,52.000000,0.577955,0.062666,0.823204
6,Afghanistan,Asia & Pacific,2014,3.130896,7.670638,0.525568,52.299999,0.508514,0.105755,0.871242
7,Afghanistan,Asia & Pacific,2015,3.982855,7.653833,0.528597,52.599998,0.388928,0.081652,0.880638
8,Afghanistan,Asia & Pacific,2016,4.220169,7.650370,0.559072,52.924999,0.522566,0.043916,0.793246
9,Afghanistan,Asia & Pacific,2017,2.661718,7.647830,0.490880,53.250000,0.427011,-0.119410,0.954393

In [12]:
test_data_country_region = test_data[['country_name','region']].drop_duplicates()
test_data_country_region.head(10)

    country_name               region
0    Afghanistan       Asia & Pacific
14       Albania               Europe
29       Algeria          Arab States
39        Angola               Africa
43     Argentina  South/Latin America
60       Armenia               Europe
76     Australia       Asia & Pacific
92       Austria               Europe
107   Azerbaijan               Europe
121      Bahrain          Arab States

In [13]:
test_data_country_region.shape

(165, 2)

In [14]:
# Check for duplictaes

test_data_country_region.duplicated().any()

False

In [15]:
# Check for NaN region

test_data_country_region['region'].isna().any()

True

In [16]:
# Locate NaN rows

test_data_country_region[test_data_country_region['region'].isna() == True]

                   country_name region
421         Congo (Brazzaville)    NaN
434            Congo (Kinshasa)    NaN
491                     Czechia    NaN
793   Hong Kong S.A.R. of China    NaN
943                 Ivory Coast    NaN
1458            North Macedonia    NaN
1755          Somaliland region    NaN
1828         State of Palestine    NaN
1878                      Syria    NaN
1885   Taiwan Province of China    NaN

In [17]:
country_region

                                     country_name                 region
0                                     Afghanistan         Asia & Pacific
1                                   Aland Islands                 Europe
2                                         Albania                 Europe
3                                         Algeria            Arab States
4                                  American Samoa         Asia & Pacific
5                                         Andorra                 Europe
6                                          Angola                 Africa
7                                        Anguilla    South/Latin America
8                                      Antarctica         Asia & Pacific
9                             Antigua and Barbuda    South/Latin America
10                                      Argentina    South/Latin America
11                                        Armenia                 Europe
12                                          Aruba    South/Latin America
13                                      Australia         Asia & Pacific
14                                        Austria                 Europe
15                                     Azerbaijan                 Europe
16                                        Bahamas    South/Latin America
17                                        Bahrain            Arab States
18                                     Bangladesh         Asia & Pacific
19                                       Barbados    South/Latin America
20                                        Belarus                 Europe
21                                        Belgium                 Europe
22                                         Belize    South/Latin America
23                                          Benin                 Africa
24                                        Bermuda    South/Latin America
25                                         Bhutan         Asia & Pacific
26                                        Bolivia    South/Latin America
27                         Bosnia and Herzegovina                 Europe
28                                       Botswana                 Africa
29                                  Bouvet Island    South/Latin America
30                                         Brazil    South/Latin America
31                 British Indian Ocean Territory         Asia & Pacific
32                              Brunei Darussalam         Asia & Pacific
33                                       Bulgaria                 Europe
34                                   Burkina Faso                 Africa
35                                        Burundi                 Africa
36                                       Cambodia         Asia & Pacific
37                                       Cameroon                 Africa
38                                         Canada          North America
39                                     Cape Verde                 Africa
40                                 Cayman Islands    South/Latin America
41                       Central African Republic                 Africa
42                                           Chad                 Africa
43                                          Chile    South/Latin America
44                                          China         Asia & Pacific
45                               Christmas Island         Asia & Pacific
46                        Cocos (Keeling) Islands         Asia & Pacific
47                                       Colombia    South/Latin America
48                                        Comoros            Arab States
49                              Congo Brazzaville                 Africa
50                                 Congo Kinshasa                 Africa
51                                   Cook Islands         Asia & Pacific
52                                     Costa Rica    South/Latin America
53                                        Croatia                 Europe
54                                           Cuba    South/Latin America
55                                         Cyprus                 Europe
56                                 Czech Republic                 Europe
57                                  Côte D'Ivoire                 Africa
58                                        Denmark                 Europe
59                                       Djibouti            Arab States
60                                       Dominica    South/Latin America
61                             Dominican Republic    South/Latin America
62                                        Ecuador    South/Latin America
63                                          Egypt            Middle east
64                                    El Salvador    South/Latin America
65                              Equatorial Guinea                 Africa
66                                        Eritrea                 Africa
67                                        Estonia                 Europe
68                                       Eswatini                 Africa
69                                       Ethiopia                 Africa
70                    Falkland Islands (Malvinas)    South/Latin America
71                                  Faroe Islands                 Europe
72                                           Fiji         Asia & Pacific
73                                        Finland                 Europe
74                                         France                 Europe
75                           France, Metropolitan                 Europe
76                                  French Guiana    South/Latin America
77                               French Polynesia         Asia & Pacific
78                    French Southern Territories         Asia & Pacific
79                                          Gabon                 Africa
80                                         Gambia                 Africa
81                                        Georgia                 Europe
82                                        Germany                 Europe
83                                          Ghana                 Africa
84                                      Gibraltar                 Europe
85                                         Greece                 Europe
86                                      Greenland                 Europe
87                                        Grenada    South/Latin America
88                                     Guadeloupe    South/Latin America
89                                           Guam         Asia & Pacific
90                                      Guatemala    South/Latin America
91                                       Guernsey                 Europe
92                                         Guinea                 Africa
93                                  Guinea-Bissau                 Africa
94                                         Guyana    South/Latin America
95                                          Haiti    South/Latin America
96              Heard Island and McDonald Islands         Asia & Pacific
97                  Holy See (Vatican City State)                 Europe
98                                       Honduras    South/Latin America
99                                      Hong Kong         Asia & Pacific
100                                       Hungary                 Europe
101                                       Iceland                 Europe
102                                         India         Asia & Pacific
103                                     Indonesia         Asia & Pacific
104                                          Iran            Middle east
105                                          Iraq            Middle east
106                                       Ireland                 Europe
107                                   Isle of Man                 Europe
108                                        Israel            Middle east
109                                         Italy                 Europe
110                                       Jamaica    South/Latin America
111                                         Japan         Asia & Pacific
112                                        Jersey                 Europe
113                                        Jordan            Middle east
114                                    Kazakhstan         Asia & Pacific
115                                         Kenya                 Africa
116                                      Kiribati         Asia & Pacific
117                                   South Korea         Asia & Pacific
118                            Korea, Republic of         Asia & Pacific
119                                        Kuwait            Middle east
120                                    Kyrgyzstan         Asia & Pacific
121                                          Laos         Asia & Pacific
122                                        Latvia                 Europe
123                                       Lebanon            Middle east
124                                       Lesotho                 Africa
125                                       Liberia                 Africa
126                                         Libya            Middle east
127                                 Liechtenstein                 Europe
128                                     Lithuania                 Europe
129                                    Luxembourg                 Europe
130                                         Macau         Asia & Pacific
131                                     Macedonia                 Europe
132                                    Madagascar                 Africa
133                                        Malawi                 Africa
134                                      Malaysia         Asia & Pacific
135                                      Maldives         Asia & Pacific
136                                          Mali                 Africa
137                                         Malta                 Europe
138                              Marshall Islands         Asia & Pacific
139                                    Martinique    South/Latin America
140                                    Mauritania            Arab States
141                                     Mauritius                 Africa
142                                       Mayotte                 Africa
143                                        Mexico    South/Latin America
144               Micronesia, Federated States of         Asia & Pacific
145                                       Moldova                 Europe
146                                        Monaco                 Europe
147                                      Mongolia         Asia & Pacific
148                                    Montenegro                 Europe
149                                    Montserrat    South/Latin America
150                                       Morocco            Arab States
151                                    Mozambique                 Africa
152                                       Myanmar         Asia & Pacific
153                                       Namibia                 Africa
154                                         Nauru         Asia & Pacific
155                                         Nepal         Asia & Pacific
156                                   Netherlands                 Europe
157                          Netherlands Antilles    South/Latin America
158                                 New Caledonia         Asia & Pacific
159                                   New Zealand         Asia & Pacific
160                                     Nicaragua  South/Central America
161                                         Niger                 Africa
162                                       Nigeria                 Africa
163                                          Niue         Asia & Pacific
164                                Norfolk Island         Asia & Pacific
165                      Northern Mariana Islands         Asia & Pacific
166                                        Norway                 Europe
167                                          Oman            Middle east
168                                      Pakistan         Asia & Pacific
169                                         Palau         Asia & Pacific
170                                     Palestine            Arab States
171                                        Panama    South/Latin America
172                              Papua New Guinea         Asia & Pacific
173                                      Paraguay    South/Latin America
174                                          Peru    South/Latin America
175                                   Philippines         Asia & Pacific
176                              Pitcairn Islands         Asia & Pacific
177                                        Poland                 Europe
178                                      Portugal                 Europe
179                                   Puerto Rico    South/Latin America
180                                         Qatar            Middle east
181                                       Reunion         Asia & Pacific
182                                       Romania                 Europe
183                                        Russia                 Europe
184                                        Rwanda                 Africa
185                              Saint Barthelemy    South/Latin America
186                                  Saint Helena                 Africa
187                         Saint Kitts and Nevis    South/Latin America
188                                   Saint Lucia    South/Latin America
189                                  Saint Martin    South/Latin America
190                     Saint Pierre and Miquelon          North America
191              Saint Vincent and the Grenadines    South/Latin America
192                                         Samoa         Asia & Pacific
193                                    San Marino                 Europe
194                         Sao Tome and Principe                 Africa
195                                  Saudi Arabia            Middle east
196                                       Senegal                 Africa
197                                        Serbia                 Europe
198                                    Seychelles                 Africa
199                                  Sierra Leone                 Africa
200                                     Singapore         Asia & Pacific
201                                      Slovakia                 Europe
202                                      Slovenia                 Europe
203                               Solomon Islands         Asia & Pacific
204                                       Somalia            Arab States
205                                  South Africa                 Africa
206  South Georgia and the South Sandwich Islands    South/Latin America
207                                   South Sudan                 Africa
208                                         Spain                 Europe
209                                     Sri Lanka         Asia & Pacific
210                                         Sudan            Arab States
211                                      Suriname    South/Latin America
212                        Svalbard and Jan Mayen                 Europe
213                                        Sweden                 Europe
214                                   Switzerland                 Europe
215                          Syrian Arab Republic         Asia & Pacific
216                                        Taiwan         Asia & Pacific
217                                    Tajikistan         Asia & Pacific
218                                      Tanzania                 Africa
219                                      Thailand         Asia & Pacific
220                                   Timor-Leste         Asia & Pacific
221                                          Togo                 Africa
222                                       Tokelau         Asia & Pacific
223                                         Tonga         Asia & Pacific
224                           Trinidad and Tobago    South/Latin America
225                                       Tunisia            Arab States
226                                       Turkiye                 Europe
227                                  Turkmenistan         Asia & Pacific
228                      Turks and Caicos Islands    South/Latin America
229                                        Tuvalu         Asia & Pacific
230                                        Uganda                 Africa
231                                       Ukraine                 Europe
232                          United Arab Emirates            Middle east
233                                United Kingdom                 Europe
234                                 United States          North America
235          United States Minor Outlying Islands         Asia & Pacific
236                                       Uruguay    South/Latin America
237                                    Uzbekistan         Asia & Pacific
238                                       Vanuatu         Asia & Pacific
239                                     Venezuela    South/Latin America
240                                       Vietnam         Asia & Pacific
241                       Virgin Islands, British    South/Latin America
242                          Virgin Islands, U.S.    South/Latin America
243                             Wallis and Futuna         Asia & Pacific
244                                Western Sahara                 Africa
245                                         Yemen            Middle east
246                                        Zambia                 Africa
247                                      Zimbabwe                 Africa
248                                        Kosovo                 Europe

In [18]:
# Correct NaN rows

test_data.loc[test_data['country_name'] == 'Congo (Brazzaville)', 'country_name'] = 'Congo Brazzaville'
test_data.loc[test_data['country_name'] == 'Congo (Kinshasa)', 'country_name'] = 'Congo Kinshasa'
test_data.loc[test_data['country_name'] == 'Czechia', 'country_name'] = 'Czech Republic'
test_data.loc[test_data['country_name'] == 'Hong Kong S.A.R. of China', 'country_name'] = 'Hong Kong'
test_data.loc[test_data['country_name'] == 'Ivory Coast', 'country_name'] = '''Côte D'Ivoire'''
test_data.loc[test_data['country_name'] == 'North Macedonia', 'country_name'] = 'Macedonia'
test_data.loc[test_data['country_name'] == 'Somaliland region', 'country_name'] = 'Somaliland'
test_data.loc[test_data['country_name'] == 'State of Palestine', 'country_name'] = 'Palestine'
test_data.loc[test_data['country_name'] == 'Taiwan Province of China', 'country_name'] = 'Taiwan'
test_data.loc[test_data['country_name'] == 'Ivory Coast', 'country_name'] = '''Côte D'Ivoire'''
test_data.loc[test_data['country_name'] == 'North Macedonia', 'country_name'] = 'Macedonia'
test_data.loc[test_data['country_name'] == 'State of Palestine', 'country_name'] = 'Palestine'
test_data.loc[test_data['country_name'] == 'Taiwan Province of China', 'country_name'] = 'Taiwan'

country_region.loc[country_region['country_name'] == 'Syrian Arab Republic', 'country_name'] = 'Syria'

country_region.loc[250] = ['Somaliland', 'Africa']

In [19]:
# Merge again

test_data = test_data.rename(columns = {'region' : 'region_2'})
test_data = pd.merge(test_data, country_region, how = 'left', on = 'country_name')
test_data = test_data[data_columns]
test_data.head(10)

,country_name,region,year,happiness_score,log_gdp_per_capita,social_support,life_expectancy,freedom,generosity,perception_of_corruption
0,Afghanistan,Asia & Pacific,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686
1,Afghanistan,Asia & Pacific,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035
2,Afghanistan,Asia & Pacific,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766
3,Afghanistan,Asia & Pacific,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109
4,Afghanistan,Asia & Pacific,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620
5,Afghanistan,Asia & Pacific,2013,3.572100,7.680333,0.483552,52.000000,0.577955,0.062666,0.823204
6,Afghanistan,Asia & Pacific,2014,3.130896,7.670638,0.525568,52.299999,0.508514,0.105755,0.871242
7,Afghanistan,Asia & Pacific,2015,3.982855,7.653833,0.528597,52.599998,0.388928,0.081652,0.880638
8,Afghanistan,Asia & Pacific,2016,4.220169,7.650370,0.559072,52.924999,0.522566,0.043916,0.793246
9,Afghanistan,Asia & Pacific,2017,2.661718,7.647830,0.490880,53.250000,0.427011,-0.119410,0.954393

In [20]:
# Check for NaN region again

test_data['region'].isna().any()

False

In [21]:
test_data.duplicated().any()

False

In [22]:
# Save dataframe

data = test_data

In [23]:
## Prepare data for analysis
# Check for duplicated rows 

test_data = data

test_data.duplicated().any()

False

In [24]:
# Check for missing data

test_data.isnull().sum()

country_name                  0
region                        0
year                          0
happiness_score               0
log_gdp_per_capita           20
social_support               13
life_expectancy              54
freedom                      33
generosity                   73
perception_of_corruption    116
dtype: int64

In [25]:
# Locate missing data in life_expectancy column

test_data[test_data['life_expectancy'].isnull() == True][['country_name', 'year', 'life_expectancy']]

     country_name  year  life_expectancy
793     Hong Kong  2006              NaN
794     Hong Kong  2008              NaN
795     Hong Kong  2009              NaN
796     Hong Kong  2010              NaN
797     Hong Kong  2011              NaN
798     Hong Kong  2012              NaN
799     Hong Kong  2014              NaN
800     Hong Kong  2016              NaN
801     Hong Kong  2017              NaN
802     Hong Kong  2019              NaN
803     Hong Kong  2020              NaN
804     Hong Kong  2021              NaN
1031       Kosovo  2007              NaN
1032       Kosovo  2008              NaN
1033       Kosovo  2009              NaN
1034       Kosovo  2010              NaN
1035       Kosovo  2011              NaN
1036       Kosovo  2012              NaN
1037       Kosovo  2013              NaN
1038       Kosovo  2014              NaN
1039       Kosovo  2015              NaN
1040       Kosovo  2016              NaN
1041       Kosovo  2017              NaN
1042       Kosovo  2018              NaN
1043       Kosovo  2019              NaN
1044       Kosovo  2020              NaN
1045       Kosovo  2021              NaN
1046       Kosovo  2022              NaN
1755   Somaliland  2009              NaN
1756   Somaliland  2010              NaN
1757   Somaliland  2011              NaN
1758   Somaliland  2012              NaN
1833    Palestine  2011              NaN
1834    Palestine  2012              NaN
1835    Palestine  2013              NaN
1836    Palestine  2014              NaN
1837    Palestine  2015              NaN
1838    Palestine  2016              NaN
1839    Palestine  2017              NaN
1840    Palestine  2018              NaN
1841    Palestine  2019              NaN
1842    Palestine  2022              NaN
1888       Taiwan  2011              NaN
1889       Taiwan  2012              NaN
1890       Taiwan  2013              NaN
1891       Taiwan  2014              NaN
1892       Taiwan  2015              NaN
1893       Taiwan  2016              NaN
1894       Taiwan  2017              NaN
1895       Taiwan  2018              NaN
1896       Taiwan  2019              NaN
1897       Taiwan  2020              NaN
1898       Taiwan  2021              NaN
1899       Taiwan  2022              NaN

In [26]:
# Fill in missing life_expectancy for Hong Kong and Kosovo with data from ourworldindata.org

world_life_expectancy.head(10)

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,2023-09-19 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.000000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.0
4,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,64.152000,64.537000,64.752000,65.132000,65.294000,65.502000,...,75.636000,75.601000,75.683000,75.617000,75.903000,76.072000,76.248000,75.723000,74.626000,NaN
5,Africa Eastern and Southern,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,44.085552,44.386697,44.752182,44.913159,45.479043,45.498338,...,60.709870,61.337917,61.856458,62.444050,62.922390,63.365863,63.755678,63.313860,62.454590,NaN
6,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.535000,33.068000,33.547000,34.016000,34.494000,34.953000,...,62.417000,62.545000,62.659000,63.136000,63.016000,63.081000,63.565000,62.575000,61.982000,NaN
7,Africa Western and Central,AFW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,37.845152,38.164950,38.735102,39.063715,39.335360,39.618038,...,55.673406,55.922229,56.195872,56.581678,56.888446,57.189139,57.555796,57.226373,56.988657,NaN
8,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,38.211000,37.267000,37.539000,37.824000,38.131000,38.495000,...,59.307000,60.040000,60.655000,61.092000,61.680000,62.144000,62.448000,62.261000,61.643000,NaN
9,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,54.439000,55.634000,56.671000,57.844000,58.983000,60.019000,...,78.123000,78.407000,78.644000,78.860000,79.047000,79.184000,79.282000,76.989000,76.463000,NaN

In [27]:
# CLean world_life_expectancy for use

world_life_expectancy = world_life_expectancy.drop(world_life_expectancy.index[[0, 1, 2]]).reset_index().drop('index', axis=1)

new_header = world_life_expectancy.iloc[0].to_list()
world_life_expectancy = world_life_expectancy[1:]
world_life_expectancy.columns = new_header

In [28]:
world_life_expectancy.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
1,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,64.152000,64.537000,64.752000,65.132000,65.294000,65.502000,...,75.636000,75.601000,75.683000,75.617000,75.903000,76.072000,76.248000,75.723000,74.626000,NaN
2,Africa Eastern and Southern,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,44.085552,44.386697,44.752182,44.913159,45.479043,45.498338,...,60.709870,61.337917,61.856458,62.444050,62.922390,63.365863,63.755678,63.313860,62.454590,NaN
3,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.535000,33.068000,33.547000,34.016000,34.494000,34.953000,...,62.417000,62.545000,62.659000,63.136000,63.016000,63.081000,63.565000,62.575000,61.982000,NaN
4,Africa Western and Central,AFW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,37.845152,38.164950,38.735102,39.063715,39.335360,39.618038,...,55.673406,55.922229,56.195872,56.581678,56.888446,57.189139,57.555796,57.226373,56.988657,NaN
5,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,38.211000,37.267000,37.539000,37.824000,38.131000,38.495000,...,59.307000,60.040000,60.655000,61.092000,61.680000,62.144000,62.448000,62.261000,61.643000,NaN
6,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,54.439000,55.634000,56.671000,57.844000,58.983000,60.019000,...,78.123000,78.407000,78.644000,78.860000,79.047000,79.184000,79.282000,76.989000,76.463000,NaN
7,Andorra,AND,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Arab World,ARB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,44.972899,45.676401,46.122576,46.972472,47.895758,48.232107,...,70.196514,70.492629,70.758222,70.943062,71.429596,71.633017,71.844626,70.923360,70.814483,NaN
9,United Arab Emirates,ARE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,48.811000,49.695000,50.686000,51.584000,52.848000,53.985000,...,78.853000,79.044000,79.223000,79.335000,79.504000,79.627000,79.726000,78.946000,78.710000,NaN
10,Argentina,ARG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,63.978000,64.360000,64.244000,64.449000,64.363000,64.593000,...,76.491000,76.755000,76.760000,76.308000,76.833000,76.999000,77.284000,75.892000,75.390000,NaN

In [29]:
# Drop unnecessary columns

world_life_expectancy_columns = ['Country Name',2005.0,
                                                 2006.0,
                                                 2007.0,
                                                 2008.0,
                                                 2009.0,
                                                 2010.0,
                                                 2011.0,
                                                 2012.0,
                                                 2013.0,
                                                 2014.0,
                                                 2015.0,
                                                 2016.0,
                                                 2017.0,
                                                 2018.0,
                                                 2019.0,
                                                 2020.0,
                                                 2021.0,
                                                 2022.0]
world_life_expectancy = world_life_expectancy[world_life_expectancy_columns]
list(world_life_expectancy.columns)

['Country Name',
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0,
 2020.0,
 2021.0,
 2022.0]

In [30]:
# Rename Columns

world_life_expectancy = world_life_expectancy.rename(columns = {'Country Name' : 'country_name',
                                                                2005.0 : 2005,
                                                                2006.0 : 2006,
                                                                2007.0 : 2007,
                                                                2008.0 : 2008,
                                                                2009.0 : 2009,
                                                                2010.0 : 2010,
                                                                2011.0 : 2011,
                                                                2012.0 : 2012,
                                                                2013.0 : 2013,
                                                                2014.0 : 2014,
                                                                2015.0 : 2015,
                                                                2016.0 : 2016,
                                                                2017.0 : 2017,
                                                                2018.0 : 2018,
                                                                2019.0 : 2019,
                                                                2020.0 : 2020,
                                                                2021.0 : 2021,
                                                                2022.0 : 2022})
list(world_life_expectancy.columns)

['country_name',
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022]

In [31]:
# Melt world_life_expectancy to match format of test_data

melted_world_life_expectancy = pd.melt(world_life_expectancy, id_vars=['country_name'], var_name='year', value_name='life_expectancy')
world_life_expectancy = melted_world_life_expectancy.sort_values(['country_name','year']).reset_index().drop('index', axis=1)
world_life_expectancy.head(10)

  country_name  year  life_expectancy
0  Afghanistan  2005           58.361
1  Afghanistan  2006           58.684
2  Afghanistan  2007           59.111
3  Afghanistan  2008           59.852
4  Afghanistan  2009           60.364
5  Afghanistan  2010           60.851
6  Afghanistan  2011           61.419
7  Afghanistan  2012           61.923
8  Afghanistan  2013           62.417
9  Afghanistan  2014           62.545

In [32]:
# Check table for NaN rows

world_life_expectancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4788 entries, 0 to 4787
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_name     4788 non-null   object
 1   year             4788 non-null   object
 2   life_expectancy  4383 non-null   float64
dtypes: float64(1), object(2)
memory usage: 112.3+ KB

In [33]:
# Drop NaN rows

world_life_expectancy = world_life_expectancy[world_life_expectancy['life_expectancy'].isna() == False].reset_index().drop('index', axis =1)

world_life_expectancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4383 entries, 0 to 4382
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country_name     4383 non-null   object
 1   year             4383 non-null   object
 2   life_expectancy  4383 non-null   float64
dtypes: float64(1), object(2)
memory usage: 102.9+ KB

In [34]:
# Rename column to avoid duplicates during merge.
# Rename country_name to match test_data

world_life_expectancy = world_life_expectancy.rename(columns = {'life_expectancy' : 'life_expectancy_new'})

world_life_expectancy.loc[world_life_expectancy['country_name'] == 'Hong Kong SAR, China', 'country_name'] = 'Hong Kong'

In [35]:
# Merge world_life_expectancy with test_data

merge = pd.merge(test_data,world_life_expectancy, how = 'left', on = ['country_name','year'])
merge.head(10)

,country_name,region,year,happiness_score,log_gdp_per_capita,social_support,life_expectancy,freedom,generosity,perception_of_corruption,life_expectancy_new
0,Afghanistan,Asia & Pacific,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,59.852
1,Afghanistan,Asia & Pacific,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,60.364
2,Afghanistan,Asia & Pacific,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,60.851
3,Afghanistan,Asia & Pacific,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,61.419
4,Afghanistan,Asia & Pacific,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,61.923
5,Afghanistan,Asia & Pacific,2013,3.572100,7.680333,0.483552,52.000000,0.577955,0.062666,0.823204,62.417
6,Afghanistan,Asia & Pacific,2014,3.130896,7.670638,0.525568,52.299999,0.508514,0.105755,0.871242,62.545
7,Afghanistan,Asia & Pacific,2015,3.982855,7.653833,0.528597,52.599998,0.388928,0.081652,0.880638,62.659
8,Afghanistan,Asia & Pacific,2016,4.220169,7.650370,0.559072,52.924999,0.522566,0.043916,0.793246,63.136
9,Afghanistan,Asia & Pacific,2017,2.661718,7.647830,0.490880,53.250000,0.427011,-0.119410,0.954393,63.016

In [36]:
merge[(merge['life_expectancy'].isna() == True) & (merge['life_expectancy_new'].isna() == False)][['country_name','year', 'life_expectancy', 'life_expectancy_new']]

     country_name  year  life_expectancy  life_expectancy_new
793     Hong Kong  2006              NaN            82.375610
794     Hong Kong  2008              NaN            82.375610
795     Hong Kong  2009              NaN            82.775610
796     Hong Kong  2010              NaN            82.978049
797     Hong Kong  2011              NaN            83.421951
798     Hong Kong  2012              NaN            83.480488
799     Hong Kong  2014              NaN            83.980488
800     Hong Kong  2016              NaN            84.226829
801     Hong Kong  2017              NaN            84.680488
802     Hong Kong  2019              NaN            85.180488
803     Hong Kong  2020              NaN            85.497561
804     Hong Kong  2021              NaN            85.492683
1031       Kosovo  2007              NaN            76.516000
1032       Kosovo  2008              NaN            77.392000
1033       Kosovo  2009              NaN            77.665000
1034       Kosovo  2010              NaN            77.630000
1035       Kosovo  2011              NaN            77.740000
1036       Kosovo  2012              NaN            78.280000
1037       Kosovo  2013              NaN            78.587000
1038       Kosovo  2014              NaN            78.880000
1039       Kosovo  2015              NaN            78.922000
1040       Kosovo  2016              NaN            78.981000
1041       Kosovo  2017              NaN            78.783000
1042       Kosovo  2018              NaN            78.696000
1043       Kosovo  2019              NaN            79.022000
1044       Kosovo  2020              NaN            76.567000
1045       Kosovo  2021              NaN            76.806000

In [37]:
# Replace life_expectancy of Hong Kong and Kosovo with new data

merge['life_expectancy'] = merge['life_expectancy'].combine_first(merge['life_expectancy_new'])
merge[merge['country_name'].isin (['Hong Kong', 'Kosovo']) == True][['country_name','year', 'life_expectancy', 'life_expectancy_new']]

     country_name  year  life_expectancy  life_expectancy_new
793     Hong Kong  2006        82.375610            82.375610
794     Hong Kong  2008        82.375610            82.375610
795     Hong Kong  2009        82.775610            82.775610
796     Hong Kong  2010        82.978049            82.978049
797     Hong Kong  2011        83.421951            83.421951
798     Hong Kong  2012        83.480488            83.480488
799     Hong Kong  2014        83.980488            83.980488
800     Hong Kong  2016        84.226829            84.226829
801     Hong Kong  2017        84.680488            84.680488
802     Hong Kong  2019        85.180488            85.180488
803     Hong Kong  2020        85.497561            85.497561
804     Hong Kong  2021        85.492683            85.492683
1031       Kosovo  2007        76.516000            76.516000
1032       Kosovo  2008        77.392000            77.392000
1033       Kosovo  2009        77.665000            77.665000
1034       Kosovo  2010        77.630000            77.630000
1035       Kosovo  2011        77.740000            77.740000
1036       Kosovo  2012        78.280000            78.280000
1037       Kosovo  2013        78.587000            78.587000
1038       Kosovo  2014        78.880000            78.880000
1039       Kosovo  2015        78.922000            78.922000
1040       Kosovo  2016        78.981000            78.981000
1041       Kosovo  2017        78.783000            78.783000
1042       Kosovo  2018        78.696000            78.696000
1043       Kosovo  2019        79.022000            79.022000
1044       Kosovo  2020        76.567000            76.567000
1045       Kosovo  2021        76.806000            76.806000
1046       Kosovo  2022              NaN                  NaN

In [38]:
# Drop life_expectancy_new and save as test_data

test_data = merge.drop('life_expectancy_new', axis=1)
test_data = test_data[data_columns]
test_data.head(10)

,country_name,region,year,happiness_score,log_gdp_per_capita,social_support,life_expectancy,freedom,generosity,perception_of_corruption
0,Afghanistan,Asia & Pacific,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686
1,Afghanistan,Asia & Pacific,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035
2,Afghanistan,Asia & Pacific,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766
3,Afghanistan,Asia & Pacific,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109
4,Afghanistan,Asia & Pacific,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620
5,Afghanistan,Asia & Pacific,2013,3.572100,7.680333,0.483552,52.000000,0.577955,0.062666,0.823204
6,Afghanistan,Asia & Pacific,2014,3.130896,7.670638,0.525568,52.299999,0.508514,0.105755,0.871242
7,Afghanistan,Asia & Pacific,2015,3.982855,7.653833,0.528597,52.599998,0.388928,0.081652,0.880638
8,Afghanistan,Asia & Pacific,2016,4.220169,7.650370,0.559072,52.924999,0.522566,0.043916,0.793246
9,Afghanistan,Asia & Pacific,2017,2.661718,7.647830,0.490880,53.250000,0.427011,-0.119410,0.954393

In [39]:
# Check for remaining NaN rows

test_data[test_data['life_expectancy'].isna() == True][['country_name','year','life_expectancy']]

     country_name  year  life_expectancy
1046       Kosovo  2022              NaN
1755   Somaliland  2009              NaN
1756   Somaliland  2010              NaN
1757   Somaliland  2011              NaN
1758   Somaliland  2012              NaN
1833    Palestine  2011              NaN
1834    Palestine  2012              NaN
1835    Palestine  2013              NaN
1836    Palestine  2014              NaN
1837    Palestine  2015              NaN
1838    Palestine  2016              NaN
1839    Palestine  2017              NaN
1840    Palestine  2018              NaN
1841    Palestine  2019              NaN
1842    Palestine  2022              NaN
1888       Taiwan  2011              NaN
1889       Taiwan  2012              NaN
1890       Taiwan  2013              NaN
1891       Taiwan  2014              NaN
1892       Taiwan  2015              NaN
1893       Taiwan  2016              NaN
1894       Taiwan  2017              NaN
1895       Taiwan  2018              NaN
1896       Taiwan  2019              NaN
1897       Taiwan  2020              NaN
1898       Taiwan  2021              NaN
1899       Taiwan  2022              NaN

In [40]:
# Fill in missing life_expectancy for Taiwan with data from macrotrends.net

taiwan_life_expectancy.head(20)

    year  life_expectancy_new
0   2022                80.87
1   2021                80.70
2   2020                80.53
3   2019                80.36
4   2018                80.19
5   2017                80.00
6   2016                79.82
7   2015                79.63
8   2014                79.45
9   2013                79.26
10  2012                79.05
11  2011                78.83
12  2010                78.62
13  2009                78.40
14  2008                78.19
15  2007                77.94
16  2006                77.69
17  2005                77.44

In [41]:
# Add country_name column 

taiwan_life_expectancy['country_name'] = 'Taiwan'
taiwan_life_expectancy.head(20)

    year  life_expectancy_new country_name
0   2022                80.87       Taiwan
1   2021                80.70       Taiwan
2   2020                80.53       Taiwan
3   2019                80.36       Taiwan
4   2018                80.19       Taiwan
5   2017                80.00       Taiwan
6   2016                79.82       Taiwan
7   2015                79.63       Taiwan
8   2014                79.45       Taiwan
9   2013                79.26       Taiwan
10  2012                79.05       Taiwan
11  2011                78.83       Taiwan
12  2010                78.62       Taiwan
13  2009                78.40       Taiwan
14  2008                78.19       Taiwan
15  2007                77.94       Taiwan
16  2006                77.69       Taiwan
17  2005                77.44       Taiwan

In [42]:
# Merge test_data with taiwan_life_expectancy

merge = pd.merge(test_data, taiwan_life_expectancy, how='left', on = ['country_name','year'])
merge[merge['country_name'] == 'Taiwan']

,country_name,region,year,happiness_score,log_gdp_per_capita,social_support,life_expectancy,freedom,generosity,perception_of_corruption,life_expectancy_new
1885,Taiwan,Asia & Pacific,2006,6.189050,10.601690,0.882246,68.680000,0.629910,-0.033146,0.845850,77.69
1886,Taiwan,Asia & Pacific,2008,5.547682,10.600388,0.830005,69.139999,0.641715,-0.020459,0.784832,78.19
1887,Taiwan,Asia & Pacific,2010,6.228531,10.680941,0.831413,69.599998,0.676587,0.001238,0.821365,78.62
1888,Taiwan,Asia & Pacific,2011,6.308915,10.693417,0.862521,NaN,0.761488,0.031887,0.754584,78.83
1889,Taiwan,Asia & Pacific,2012,6.125917,10.717881,0.825072,NaN,0.698195,0.017363,0.802829,79.05
1890,Taiwan,Asia & Pacific,2013,6.340344,10.723532,0.816993,NaN,0.690071,-0.000835,0.841232,79.26
1891,Taiwan,Asia & Pacific,2014,6.363497,10.749411,0.870012,NaN,0.692900,0.091174,0.865741,79.45
1892,Taiwan,Asia & Pacific,2015,6.450088,10.778760,0.885389,NaN,0.700810,0.018902,0.857195,79.63
1893,Taiwan,Asia & Pacific,2016,6.512851,10.768047,0.894989,NaN,0.718925,-0.046887,0.810521,79.82
1894,Taiwan,Asia & Pacific,2017,6.359451,10.774066,0.891119,NaN,0.759655,-0.067865,0.742780,80.00
1895,Taiwan,Asia & Pacific,2018,6.467005,10.780802,0.896459,NaN,0.741033,-0.176948,0.735971,80.19
1896,Taiwan,Asia & Pacific,2019,6.537090,10.797460,0.893431,NaN,0.814484,-0.128958,0.718112,80.36
1897,Taiwan,Asia & Pacific,2020,6.751068,NaN,0.900833,NaN,0.798835,NaN,0.710567,80.53
1898,Taiwan,Asia & Pacific,2021,6.246744,NaN,0.866298,NaN,0.818467,NaN,0.675439,80.70
1899,Taiwan,Asia & Pacific,2022,6.607147,NaN,0.882820,NaN,0.800192,NaN,0.657556,80.87

In [43]:
# Set life_expectancy for Taiwan to NaN so it can be updated

merge.loc[merge['country_name'] == 'Taiwan', 'life_expectancy'] = np.NaN

In [44]:
# Replace life_expectancy of Taiwan with new data

merge['life_expectancy'] = merge['life_expectancy'].combine_first(merge['life_expectancy_new'])
merge[merge['country_name'] == 'Taiwan'] [['country_name','year','life_expectancy','life_expectancy_new']]

     country_name  year  life_expectancy  life_expectancy_new
1885       Taiwan  2006            77.69                77.69
1886       Taiwan  2008            78.19                78.19
1887       Taiwan  2010            78.62                78.62
1888       Taiwan  2011            78.83                78.83
1889       Taiwan  2012            79.05                79.05
1890       Taiwan  2013            79.26                79.26
1891       Taiwan  2014            79.45                79.45
1892       Taiwan  2015            79.63                79.63
1893       Taiwan  2016            79.82                79.82
1894       Taiwan  2017            80.00                80.00
1895       Taiwan  2018            80.19                80.19
1896       Taiwan  2019            80.36                80.36
1897       Taiwan  2020            80.53                80.53
1898       Taiwan  2021            80.70                80.70
1899       Taiwan  2022            80.87                80.87

In [45]:
# Drop life_expectancy_new and save as test_data

test_data = merge.drop('life_expectancy_new', axis=1)
test_data = test_data[data_columns].sort_values(['country_name','year']).reset_index().drop('index', axis=1)
test_data.head(10)

,country_name,region,year,happiness_score,log_gdp_per_capita,social_support,life_expectancy,freedom,generosity,perception_of_corruption
0,Afghanistan,Asia & Pacific,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686
1,Afghanistan,Asia & Pacific,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035
2,Afghanistan,Asia & Pacific,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766
3,Afghanistan,Asia & Pacific,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109
4,Afghanistan,Asia & Pacific,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620
5,Afghanistan,Asia & Pacific,2013,3.572100,7.680333,0.483552,52.000000,0.577955,0.062666,0.823204
6,Afghanistan,Asia & Pacific,2014,3.130896,7.670638,0.525568,52.299999,0.508514,0.105755,0.871242
7,Afghanistan,Asia & Pacific,2015,3.982855,7.653833,0.528597,52.599998,0.388928,0.081652,0.880638
8,Afghanistan,Asia & Pacific,2016,4.220169,7.650370,0.559072,52.924999,0.522566,0.043916,0.793246
9,Afghanistan,Asia & Pacific,2017,2.661718,7.647830,0.490880,53.250000,0.427011,-0.119410,0.954393

In [46]:
# Check for remaining NaN rows

test_data[test_data['life_expectancy'].isna() == True][['country_name','year','life_expectancy']]

     country_name  year  life_expectancy
1046       Kosovo  2022              NaN
1507    Palestine  2011              NaN
1508    Palestine  2012              NaN
1509    Palestine  2013              NaN
1510    Palestine  2014              NaN
1511    Palestine  2015              NaN
1512    Palestine  2016              NaN
1513    Palestine  2017              NaN
1514    Palestine  2018              NaN
1515    Palestine  2019              NaN
1516    Palestine  2022              NaN
1770   Somaliland  2009              NaN
1771   Somaliland  2010              NaN
1772   Somaliland  2011              NaN
1773   Somaliland  2012              NaN

In [47]:
# Enter life_expectancy for Kosovo 2022 and Palestine manually

test_data.loc[1046, 'life_expectancy'] = 79.5237
test_data.loc[1502, 'life_expectancy'] = 71.92
test_data.loc[1503, 'life_expectancy'] = 72.15
test_data.loc[1504, 'life_expectancy'] = 72.41
test_data.loc[1505, 'life_expectancy'] = 72.61
test_data.loc[1506, 'life_expectancy'] = 73.00
test_data.loc[1507, 'life_expectancy'] = 73.24
test_data.loc[1508, 'life_expectancy'] = 73.47
test_data.loc[1509, 'life_expectancy'] = 74.03
test_data.loc[1510, 'life_expectancy'] = 72.62
test_data.loc[1511, 'life_expectancy'] = 74.41
test_data.loc[1512, 'life_expectancy'] = 74.55
test_data.loc[1513, 'life_expectancy'] = 74.83
test_data.loc[1514, 'life_expectancy'] = 74.79
test_data.loc[1515, 'life_expectancy'] = 75.24
test_data.loc[1516, 'life_expectancy'] = 75.40

test_data[test_data['country_name'] == 'Palestine'] [['country_name','year','life_expectancy']]

     country_name  year  life_expectancy
1502    Palestine  2006            71.92
1503    Palestine  2007            72.15
1504    Palestine  2008            72.41
1505    Palestine  2009            72.61
1506    Palestine  2010            73.00
1507    Palestine  2011            73.24
1508    Palestine  2012            73.47
1509    Palestine  2013            74.03
1510    Palestine  2014            72.62
1511    Palestine  2015            74.41
1512    Palestine  2016            74.55
1513    Palestine  2017            74.83
1514    Palestine  2018            74.79
1515    Palestine  2019            75.24
1516    Palestine  2022            75.40

In [48]:
# The rest of the missing data is not easily availble and will be left as is

test_data[test_data['life_expectancy'].isna() == True][['country_name','year','life_expectancy']]

     country_name  year  life_expectancy
1770   Somaliland  2009              NaN
1771   Somaliland  2010              NaN
1772   Somaliland  2011              NaN
1773   Somaliland  2012              NaN

In [49]:
# Check for NaN rows in test_data
# The rest of the missing data is not easily availble and will be left as is

test_data.isnull().sum()

country_name                  0
region                        0
year                          0
happiness_score               0
log_gdp_per_capita           20
social_support               13
life_expectancy               4
freedom                      33
generosity                   73
perception_of_corruption    116
dtype: int64

In [50]:
# Save progress on test_data as data

data = test_data

In [51]:
## Combine data_2023 and data
# Create duplicates

test_data = data
test_data_2023 = data_2023

# Check that columns names are the same

print(test_data.shape, test_data_2023.shape)

(2199, 10) (137, 11)

In [52]:
list(test_data.columns)

['country_name',
 'region',
 'year',
 'happiness_score',
 'log_gdp_per_capita',
 'social_support',
 'life_expectancy',
 'freedom',
 'generosity',
 'perception_of_corruption']

In [53]:
list(test_data_2023.columns)

['country_name',
 'country_id',
 'region',
 'happiness_score',
 'log_gdp_per_capita',
 'social_support',
 'life_expectancy',
 'freedom',
 'generosity',
 'perception_of_corruption',
 'signal']

In [54]:
# Add year column to data_2023

test_data_2023['year'] = 2023

In [55]:
test_data = pd.concat([data, test_data_2023])
print(test_data.shape, test_data[test_data['year'] == 2023].shape, test_data[test_data['year'] != 2023].shape)

(2336, 12) (137, 12) (2199, 12)

In [56]:
# A happiness score surpassing 6 signifies a state of happiness, while a score below 4.5 indicates unhappiness, with scores falling in-between being categorized as neutral.
# Add signal column

def func(test_data):
    if test_data['happiness_score'] > 6:
        return 'Happy'
    elif test_data['happiness_score'] < 4.5:
        return 'Unhappy' 
    else:
        return 'Moderate'

test_data['signal'] = test_data.apply(func, axis=1)
test_data.head(10)

,country_name,region,year,happiness_score,log_gdp_per_capita,social_support,life_expectancy,freedom,generosity,perception_of_corruption,country_id,signal
0,Afghanistan,Asia & Pacific,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,NaN,Unhappy
1,Afghanistan,Asia & Pacific,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,NaN,Unhappy
2,Afghanistan,Asia & Pacific,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,NaN,Moderate
3,Afghanistan,Asia & Pacific,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,NaN,Unhappy
4,Afghanistan,Asia & Pacific,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,NaN,Unhappy
5,Afghanistan,Asia & Pacific,2013,3.572100,7.680333,0.483552,52.000000,0.577955,0.062666,0.823204,NaN,Unhappy
6,Afghanistan,Asia & Pacific,2014,3.130896,7.670638,0.525568,52.299999,0.508514,0.105755,0.871242,NaN,Unhappy
7,Afghanistan,Asia & Pacific,2015,3.982855,7.653833,0.528597,52.599998,0.388928,0.081652,0.880638,NaN,Unhappy
8,Afghanistan,Asia & Pacific,2016,4.220169,7.650370,0.559072,52.924999,0.522566,0.043916,0.793246,NaN,Unhappy
9,Afghanistan,Asia & Pacific,2017,2.661718,7.647830,0.490880,53.250000,0.427011,-0.119410,0.954393,NaN,Unhappy

In [57]:
# Update country_ids table

pd.set_option('display.max_rows', None);
print(country_ids.count())
country_ids

country_id      137
country_name    137
dtype: int64

     country_id            country_name
0             1             Afghanistan
1             2                 Albania
2             3                 Algeria
3             4               Argentina
4             5                 Armenia
5             6               Australia
6             7                 Austria
7             8                 Bahrain
8             9              Bangladesh
9            10                 Belgium
10           11                   Benin
11           12                 Bolivia
12           13  Bosnia and Herzegovina
13           14                Botswana
14           15                  Brazil
15           16                Bulgaria
16           17            Burkina Faso
17           18                Cambodia
18           19                Cameroon
19           20                  Canada
20           21                    Chad
21           22                   Chile
22           23                   China
23           24                Colombia
24           25                 Comoros
25           26       Congo Brazzaville
26           27          Congo Kinshasa
27           28              Costa Rica
28           29                 Croatia
29           30                  Cyprus
30           31          Czech Republic
31           32           Côte D'Ivoire
32           33                 Denmark
33           34      Dominican Republic
34           35                 Ecuador
35           36                   Egypt
36           37             El Salvador
37           38                 Estonia
38           39                Ethiopia
39           40                 Finland
40           41                  France
41           42                   Gabon
42           43                  Gambia
43           44                 Georgia
44           45                 Germany
45           46                   Ghana
46           47                  Greece
47           48               Guatemala
48           49                  Guinea
49           50                Honduras
50           51               Hong Kong
51           52                 Hungary
52           53                 Iceland
53           54                   India
54           55               Indonesia
55           56                    Iran
56           57                    Iraq
57           58                 Ireland
58           59                  Israel
59           60                   Italy
60           61                 Jamaica
61           62                   Japan
62           63                  Jordan
63           64              Kazakhstan
64           65                   Kenya
65           66                  Kosovo
66           67              Kyrgyzstan
67           68                    Laos
68           69                  Latvia
69           70                 Lebanon
70           71                 Liberia
71           72               Lithuania
72           73              Luxembourg
73           74               Macedonia
74           75              Madagascar
75           76                  Malawi
76           77                Malaysia
77           78                    Mali
78           79                   Malta
79           80              Mauritania
80           81               Mauritius
81           82                  Mexico
82           83                 Moldova
83           84                Mongolia
84           85              Montenegro
85           86                 Morocco
86           87              Mozambique
87           88                 Myanmar
88           89                 Namibia
89           90                   Nepal
90           91             Netherlands
91           92             New Zealand
92           93               Nicaragua
93           94                   Niger
94           95                 Nigeria
95           96                  Norway
96           97                Pakistan
97           98               Palestine
98           99                  Panama
99          100                Paraguay
100         101                    Peru
101         102             Philippines
102         103                  Poland
103         104                Portugal
104         105                 Romania
105         106                  Russia
106         107            Saudi Arabia
107         108                 Senegal
108         109                  Serbia
109         110            Sierra Leone
110         111               Singapore
111         112                Slovakia
112         113                Slovenia
113         114            South Africa
114         115             South Korea
115         116                   Spain
116         117               Sri Lanka
117         118                  Sweden
118         119             Switzerland
119         120                  Taiwan
120         121              Tajikistan
121         122                Tanzania
122         123                Thailand
123         124                    Togo
124         125                 Tunisia
125         126                 Turkiye
126         127                  Uganda
127         128                 Ukraine
128         129    United Arab Emirates
129         130          United Kingdom
130         131           United States
131         132                 Uruguay
132         133              Uzbekistan
133         134               Venezuela
134         135                 Vietnam
135         136                  Zambia
136         137                Zimbabwe

In [58]:
print(test_data['country_name'].drop_duplicates().reset_index().count())
test_data['country_name'].drop_duplicates().reset_index()

index           165
country_name    165
dtype: int64

     index              country_name
0        0               Afghanistan
1       14                   Albania
2       29                   Algeria
3       39                    Angola
4       43                 Argentina
5       60                   Armenia
6       76                 Australia
7       92                   Austria
8      107                Azerbaijan
9      121                   Bahrain
10     132                Bangladesh
11     149                   Belarus
12     163                   Belgium
13     179                    Belize
14     181                     Benin
15     195                    Bhutan
16     198                   Bolivia
17     215    Bosnia and Herzegovina
18     229                  Botswana
19     242                    Brazil
20     259                  Bulgaria
21     273              Burkina Faso
22     288                   Burundi
23     293                  Cambodia
24     310                  Cameroon
25     327                    Canada
26     344  Central African Republic
27     349                      Chad
28     364                     Chile
29     381                     China
30     397                  Colombia
31     414                   Comoros
32     421         Congo Brazzaville
33     434            Congo Kinshasa
34     443                Costa Rica
35     460                   Croatia
36     475                      Cuba
37     476                    Cyprus
38     491            Czech Republic
39     505             Côte D'Ivoire
40     516                   Denmark
41     533                  Djibouti
42     537        Dominican Republic
43     554                   Ecuador
44     571                     Egypt
45     588               El Salvador
46     605                   Estonia
47     621                  Eswatini
48     624                  Ethiopia
49     634                   Finland
50     649                    France
51     666                     Gabon
52     678                    Gambia
53     682                   Georgia
54     699                   Germany
55     716                     Ghana
56     733                    Greece
57     749                 Guatemala
58     764                    Guinea
59     776                    Guyana
60     777                     Haiti
61     788                  Honduras
62     804                 Hong Kong
63     816                   Hungary
64     832                   Iceland
65     842                     India
66     859                 Indonesia
67     876                      Iran
68     891                      Iraq
69     904                   Ireland
70     920                    Israel
71     937                     Italy
72     954                   Jamaica
73     963                     Japan
74     980                    Jordan
75     997                Kazakhstan
76    1014                     Kenya
77    1031                    Kosovo
78    1047                    Kuwait
79    1058                Kyrgyzstan
80    1075                      Laos
81    1085                    Latvia
82    1101                   Lebanon
83    1118                   Lesotho
84    1122                   Liberia
85    1132                     Libya
86    1138                 Lithuania
87    1155                Luxembourg
88    1167                 Macedonia
89    1182                Madagascar
90    1194                    Malawi
91    1208                  Malaysia
92    1222                  Maldives
93    1223                      Mali
94    1239                     Malta
95    1253                Mauritania
96    1267                 Mauritius
97    1276                    Mexico
98    1293                   Moldova
99    1310                  Mongolia
100   1325                Montenegro
101   1338                   Morocco
102   1350                Mozambique
103   1360                   Myanmar
104   1370                   Namibia
105   1378                     Nepal
106   1395               Netherlands
107   1411               New Zealand
108   1427                 Nicaragua
109   1444                     Niger
110   1459                   Nigeria
111   1473                    Norway
112   1485                      Oman
113   1486                  Pakistan
114   1502                 Palestine
115   1517                    Panama
116   1533                  Paraguay
117   1549                      Peru
118   1566               Philippines
119   1582                    Poland
120   1598                  Portugal
121   1613                     Qatar
122   1618                   Romania
123   1634                    Russia
124   1651                    Rwanda
125   1663              Saudi Arabia
126   1680                   Senegal
127   1697                    Serbia
128   1711              Sierra Leone
129   1725                 Singapore
130   1739                  Slovakia
131   1752                  Slovenia
132   1767                   Somalia
133   1770                Somaliland
134   1774              South Africa
135   1790               South Korea
136   1807               South Sudan
137   1811                     Spain
138   1828                 Sri Lanka
139   1843                     Sudan
140   1848                  Suriname
141   1849                    Sweden
142   1866               Switzerland
143   1878                     Syria
144   1885                    Taiwan
145   1900                Tajikistan
146   1916                  Tanzania
147   1933                  Thailand
148   1950                      Togo
149   1961       Trinidad and Tobago
150   1966                   Tunisia
151   1980                   Turkiye
152   1996              Turkmenistan
153   2006                    Uganda
154   2022                   Ukraine
155   2039      United Arab Emirates
156   2054            United Kingdom
157   2071             United States
158   2088                   Uruguay
159   2105                Uzbekistan
160   2121                 Venezuela
161   2138                   Vietnam
162   2155                     Yemen
163   2167                    Zambia
164   2182                  Zimbabwe

In [59]:
test_country_ids = test_data['country_name'].drop_duplicates().reset_index()
print(test_country_ids[~test_country_ids['country_name'].isin(country_ids['country_name'].tolist())].count())
new_countries = test_country_ids[~test_country_ids['country_name'].isin(country_ids['country_name'].tolist())]
new_countries

index           28
country_name    28
dtype: int64

     index              country_name
3       39                    Angola
8      107                Azerbaijan
11     149                   Belarus
13     179                    Belize
15     195                    Bhutan
22     288                   Burundi
26     344  Central African Republic
36     475                      Cuba
41     533                  Djibouti
47     621                  Eswatini
59     776                    Guyana
60     777                     Haiti
78    1047                    Kuwait
83    1118                   Lesotho
85    1132                     Libya
92    1222                  Maldives
112   1485                      Oman
121   1613                     Qatar
124   1651                    Rwanda
132   1767                   Somalia
133   1770                Somaliland
136   1807               South Sudan
139   1843                     Sudan
140   1848                  Suriname
143   1878                     Syria
149   1961       Trinidad and Tobago
152   1996              Turkmenistan
162   2155                     Yemen

In [60]:
test_country_ids = pd.concat([country_ids['country_name'],new_countries['country_name']]).reset_index().drop('index', axis=1).reset_index().rename(columns={'index':'country_id'})
test_country_ids['country_id'] = test_country_ids['country_id']+1
test_country_ids

     country_id              country_name
0             1               Afghanistan
1             2                   Albania
2             3                   Algeria
3             4                 Argentina
4             5                   Armenia
5             6                 Australia
6             7                   Austria
7             8                   Bahrain
8             9                Bangladesh
9            10                   Belgium
10           11                     Benin
11           12                   Bolivia
12           13    Bosnia and Herzegovina
13           14                  Botswana
14           15                    Brazil
15           16                  Bulgaria
16           17              Burkina Faso
17           18                  Cambodia
18           19                  Cameroon
19           20                    Canada
20           21                      Chad
21           22                     Chile
22           23                     China
23           24                  Colombia
24           25                   Comoros
25           26         Congo Brazzaville
26           27            Congo Kinshasa
27           28                Costa Rica
28           29                   Croatia
29           30                    Cyprus
30           31            Czech Republic
31           32             Côte D'Ivoire
32           33                   Denmark
33           34        Dominican Republic
34           35                   Ecuador
35           36                     Egypt
36           37               El Salvador
37           38                   Estonia
38           39                  Ethiopia
39           40                   Finland
40           41                    France
41           42                     Gabon
42           43                    Gambia
43           44                   Georgia
44           45                   Germany
45           46                     Ghana
46           47                    Greece
47           48                 Guatemala
48           49                    Guinea
49           50                  Honduras
50           51                 Hong Kong
51           52                   Hungary
52           53                   Iceland
53           54                     India
54           55                 Indonesia
55           56                      Iran
56           57                      Iraq
57           58                   Ireland
58           59                    Israel
59           60                     Italy
60           61                   Jamaica
61           62                     Japan
62           63                    Jordan
63           64                Kazakhstan
64           65                     Kenya
65           66                    Kosovo
66           67                Kyrgyzstan
67           68                      Laos
68           69                    Latvia
69           70                   Lebanon
70           71                   Liberia
71           72                 Lithuania
72           73                Luxembourg
73           74                 Macedonia
74           75                Madagascar
75           76                    Malawi
76           77                  Malaysia
77           78                      Mali
78           79                     Malta
79           80                Mauritania
80           81                 Mauritius
81           82                    Mexico
82           83                   Moldova
83           84                  Mongolia
84           85                Montenegro
85           86                   Morocco
86           87                Mozambique
87           88                   Myanmar
88           89                   Namibia
89           90                     Nepal
90           91               Netherlands
91           92               New Zealand
92           93                 Nicaragua
93           94                     Niger
94           95                   Nigeria
95           96                    Norway
96           97                  Pakistan
97           98                 Palestine
98           99                    Panama
99          100                  Paraguay
100         101                      Peru
101         102               Philippines
102         103                    Poland
103         104                  Portugal
104         105                   Romania
105         106                    Russia
106         107              Saudi Arabia
107         108                   Senegal
108         109                    Serbia
109         110              Sierra Leone
110         111                 Singapore
111         112                  Slovakia
112         113                  Slovenia
113         114              South Africa
114         115               South Korea
115         116                     Spain
116         117                 Sri Lanka
117         118                    Sweden
118         119               Switzerland
119         120                    Taiwan
120         121                Tajikistan
121         122                  Tanzania
122         123                  Thailand
123         124                      Togo
124         125                   Tunisia
125         126                   Turkiye
126         127                    Uganda
127         128                   Ukraine
128         129      United Arab Emirates
129         130            United Kingdom
130         131             United States
131         132                   Uruguay
132         133                Uzbekistan
133         134                 Venezuela
134         135                   Vietnam
135         136                    Zambia
136         137                  Zimbabwe
137         138                    Angola
138         139                Azerbaijan
139         140                   Belarus
140         141                    Belize
141         142                    Bhutan
142         143                   Burundi
143         144  Central African Republic
144         145                      Cuba
145         146                  Djibouti
146         147                  Eswatini
147         148                    Guyana
148         149                     Haiti
149         150                    Kuwait
150         151                   Lesotho
151         152                     Libya
152         153                  Maldives
153         154                      Oman
154         155                     Qatar
155         156                    Rwanda
156         157                   Somalia
157         158                Somaliland
158         159               South Sudan
159         160                     Sudan
160         161                  Suriname
161         162                     Syria
162         163       Trinidad and Tobago
163         164              Turkmenistan
164         165                     Yemen

In [61]:
# Save updated country_id table

country_ids = test_country_ids

In [62]:
# Add country_id to test_data

test_data = test_data.merge(country_ids, how='left', on='country_name').drop('country_id_x',axis=1).rename(columns={'country_id_y':'country_id'})

In [63]:
test_data = test_data[['country_name',
                     'country_id',
                     'region',
                     'year',
                     'happiness_score',
                     'log_gdp_per_capita',
                     'social_support',
                     'life_expectancy',
                     'freedom',
                     'generosity',
                     'perception_of_corruption']]
test_data.head(5)

,country_name,country_id,region,year,happiness_score,log_gdp_per_capita,social_support,life_expectancy,freedom,generosity,perception_of_corruption
0,Afghanistan,1,Asia & Pacific,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686
1,Afghanistan,1,Asia & Pacific,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035
2,Afghanistan,1,Asia & Pacific,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766
3,Afghanistan,1,Asia & Pacific,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109
4,Afghanistan,1,Asia & Pacific,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620

In [64]:
# Reset indexes

country_region = country_region.sort_values('country_name').reset_index().drop('index', axis=1)
data = test_data.sort_values(['country_name', 'year']).reset_index().drop('index', axis=1)
country_ids = test_country_ids
world_life_expectancy = world_life_expectancy.sort_values(['country_name', 'year']).reset_index().drop('index', axis=1)
taiwan_life_expectancy = taiwan_life_expectancy.sort_values('year').reset_index().drop('index', axis=1)

In [65]:
# Save dataframes

happiness_all_years = data

%store happiness_all_years
%store country_ids

%store country_region
%store world_life_expectancy
%store taiwan_life_expectancy

Stored 'happiness_all_years' (DataFrame)
Stored 'country_ids' (DataFrame)
Stored 'country_region' (DataFrame)
Stored 'world_life_expectancy' (DataFrame)
Stored 'taiwan_life_expectancy' (DataFrame)